html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

body {
  color: var(--primary-white-color);
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: "Open Sans", Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: color-primary;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  // max-width: 100%;
  // height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {}

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}