:root {
  --color-primary: #212121;
  --color-text-deck: #757575;
  --color-invert: #fff;
  --color-opacity: rgba(255, 255, 255, 0.6);
  --color-action: #2196f3;
  --color-header-border: #ececec;
  --color-background-primary: #fff;
  --color-background-second: #2f303a;
  --color-background-brand: #f5f4fa;
  --color-background-action: #2196f3;
  --background-color-even: #188ce8;
  --color-border-one: #eeeeee;
  --color-fill-svg: #afb1b8;
  --color-background-animation: rgba(33, 150, 243, 0.9);
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

$font-primary: "Open Sans", Verdana, sans-serif;
$font-accept: "Raleway", sans-serif;