h1 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 5.4rem;
}

h2 {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4.6rem;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.4rem;
}

h4 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
}

h5 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.6rem;
}

.promo__text,
.footer-navigation__links,
.link-button,
h1 {
  font-family: "Poppins", Verdana, sans-serif;
}
