.footer {
  padding: 60px 0 70px;
}

.footer__wrapper {
  display: flex;
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 152px;
}

.footer-navigation__title {
  margin: 0 0 15px;
}

.footer-navigation__links {
  list-style-type: none;
}

.footer-navigation__links a {
  list-style-type: none;
  color: #544837;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.5rem;
  text-decoration: none;
}

.footer-navigation__links a:hover {
  color: #ff9900;
}